<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.summercheckin" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>暑假自律打卡</name>
    <description>亲子协作暑假自律打卡工具</description>
    <author email="dev@example.com" href="https://example.com">Developer</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- iOS配置 -->
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <preference name="StatusBarOverlaysWebView" value="true" />
        <preference name="StatusBarBackgroundColor" value="#667eea" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <icon src="icon-192.png" width="192" height="192" />
        <icon src="icon-512.png" width="512" height="512" />
    </platform>
    
    <!-- Android配置 -->
    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#667eea" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="icon-512.png" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#667eea" />
        <icon src="icon-192.png" density="mdpi" />
        <icon src="icon-512.png" density="xxxhdpi" />
    </platform>
    
    <!-- 通用配置 -->
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff667eea" />
    <preference name="WebViewBounce" value="false" />
</widget>
